<footer>
    <ul class="contacts">
        <li><a href="{{ site.github_url }}" title="The project on GitHub" class="fab fa-github"></a></li>
        <li><a href="{{ site.donation_url }}" title="Support with a donation" class="fas fa-coins"></a></li>
        <li><a href="{{ site.twitter_url }}" title="Follow the author on X" class="fab fa-x-twitter"></a></li>
        <li><a href="mailto:{{ site.email.info }}" title="Submit an inquiry" class="fa fa-envelope"></a></li>
    </ul>
    <ul class="secondary">
        <li><a href="/faq/" title="Frequently Asked Questions">FAQ</a></li>
        <li>|</li>
        <li><a href="/blog/" title="Articles about Passepartout">Blog</a></li>
        <li>|</li>
        <li><a href="/providers/" title="Providers">Providers</a></li>
        <li>|</li>
        <li><a href="/about/" title="The team and story behind Passepartout">About</a></li>
    </ul>
    <p class="notice">
        The logo is taken from the awesome <a href="https://www.iconfinder.com/iconsets/circle-icons-1" title="Circle Icons">Circle Icons</a> set by <a href="https://www.elegantthemes.com/" title="Elegant Themes">Nick Roach</a>.<br />
        Make sure to read the <a href="/privacy/" title="Privacy policy">privacy policy</a>.<br />
        <br />
        Copyright (c) 2025 <a href="{{ site.author_url }}" title="The author website">Davide De Rosa</a>
    </p>
</footer>
