---
layout: default
---

<article class="post post-full" itemscope itemtype="https://schema.org/Article">
    <header>
        <div>
            <h2 itemprop="name">{{ page.title }}</h2>
            <p class="post-date" itemprop="datepublished">{{ page.date | date: "%b %-d, %Y" }}</p>
        </div>
        <div class="post-body">
            {{ page.content }}
        </div>
        <p class="post-tags">
            Tags:
            {% for tag in page.tags %}
            <a href="/blog/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </p>
        <div>
            <a href="/blog">Back to index</a>
        </div>
    </header>
</article>

{% assign related_posts = "" | split: "," %}
{% for post in site.posts %}
    {% if post.url != page.url %}
        {% assign common_tags = post.tags | uniq | sort | where_exp: "tag", "page.tags contains tag" %}
        {% if common_tags.size > 0 %}
            {% assign related_posts = related_posts | push: post %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if related_posts.size > 0 %}
<h3>Related posts</h3>
<ul id="blog-posts" class="related">
    {% for post in related_posts limit:site.max_related_posts %}
    <li>
        <span class="post-preview"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
        <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
    </li>
    {% endfor %}
</ul>
{% endif %}
